<a href="https://colab.research.google.com/github/divya864/Attrition-Analysis-and-Prediction/blob/main/mbs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
#Data Preprocessing
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [26]:
dataframe = pd.read_csv('/LoanExport.csv', dtype='unicode')

In [24]:
dataframe.head()

,CreditScore,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,MSA,MIP,Units,Occupancy,OCLTV,DTI,...,PostalCode,LoanSeqNum,LoanPurpose,OrigLoanTerm,NumBorrowers,SellerName,ServicerName,EverDelinquent,MonthsDelinquent,MonthsInRepayment
0,0,199902,N,202901,16974,25,1,O,89,27,...,60400,F199Q1268030,P,360,2,FL,WASHINGTONMUTUALBANK,0,0,52
1,0,199902,N,202901,19740,0,1,O,73,17,...,80200,F199Q1015092,N,360,1,FT,CHASEHOMEFINANCELLC,0,0,144
2,0,199902,N,202901,29940,0,1,O,75,16,...,66000,F199Q1266886,N,360,2,FL,WASHINGTONMUTUALBANK,0,0,67
3,0,199902,N,202901,31084,0,1,O,76,14,...,90700,F199Q1178167,N,360,2,GM,GMACMTGECORP,0,0,35
4,0,199902,N,202901,35644,0,1,O,78,18,...,7600,F199Q1178517,N,360,2,GM,GMACMTGECORP,0,0,54

In [45]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291451 entries, 0 to 291450
Data columns (total 28 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   CreditScore         291451 non-null  int64
 1   FirstPaymentDate    291451 non-null  int64
 2   FirstTimeHomebuyer  291451 non-null  object
 3   MaturityDate        291451 non-null  int64
 4   MSA                 291451 non-null  object
 5   MIP                 291451 non-null  int64
 6   Units               291451 non-null  int64
 7   Occupancy           291451 non-null  object
 8   OCLTV               291451 non-null  int64
 9   DTI                 291451 non-null  int64
 10  OrigUPB             291451 non-null  int64
 11  LTV                 291451 non-null  int64
 12  OrigInterestRate    291451 non-null  float64
 13  Channel             291451 non-null  object
 14  PPM                 291451 non-null  object
 15  ProductType         291451 non-null  object
 16  PropertyState       291451 non-null  object
 17  PropertyType        291451 non-null  object
 18  PostalCode          291451 non-null  object
 19  LoanSeqNum          291451 non-null  object
 20  LoanPurpose         291451 non-null  object
 21  OrigLoanTerm        291451 non-null  int64
 22  NumBorrowers        291451 non-null  object
 23  SellerName          266457 non-null  object
 24  ServicerName        291451 non-null  object
 25  EverDelinquent      291451 non-null  int64
 26  MonthsDelinquent    291451 non-null  int64
 27  MonthsInRepayment   291451 non-null  int64
dtypes: float64(1), int64(13), object(14)
memory usage: 62.3+ MB

# New Section

In [46]:
dataframe = dataframe.dropna()

In [47]:
missing_values = dataframe.isnull().sum()
missing_values[missing_values > 0]

Series([], dtype: int64)

In [49]:
dataframe = dataframe.dropna(subset=['SellerName'])

In [50]:
seller_name_column = dataframe['SellerName']

In [51]:
print(seller_name_column.head())

0    FL
1    FT
2    FL
3    GM
4    GM
Name: SellerName, dtype: object

In [52]:
duplicates = dataframe.duplicated().sum()

In [53]:
dataframe = dataframe.drop_duplicates()

In [54]:
dataframe.head()

,CreditScore,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,MSA,MIP,Units,Occupancy,OCLTV,DTI,...,PostalCode,LoanSeqNum,LoanPurpose,OrigLoanTerm,NumBorrowers,SellerName,ServicerName,EverDelinquent,MonthsDelinquent,MonthsInRepayment
0,0,199902,N,202901,16974,25,1,O,89,27,...,60400,F199Q1268030,P,360,2,FL,WASHINGTONMUTUALBANK,0,0,52
1,0,199902,N,202901,19740,0,1,O,73,17,...,80200,F199Q1015092,N,360,1,FT,CHASEHOMEFINANCELLC,0,0,144
2,0,199902,N,202901,29940,0,1,O,75,16,...,66000,F199Q1266886,N,360,2,FL,WASHINGTONMUTUALBANK,0,0,67
3,0,199902,N,202901,31084,0,1,O,76,14,...,90700,F199Q1178167,N,360,2,GM,GMACMTGECORP,0,0,35
4,0,199902,N,202901,35644,0,1,O,78,18,...,7600,F199Q1178517,N,360,2,GM,GMACMTGECORP,0,0,54

In [55]:
missing_values

CreditScore           0
FirstPaymentDate      0
FirstTimeHomebuyer    0
MaturityDate          0
MSA                   0
MIP                   0
Units                 0
Occupancy             0
OCLTV                 0
DTI                   0
OrigUPB               0
LTV                   0
OrigInterestRate      0
Channel               0
PPM                   0
ProductType           0
PropertyState         0
PropertyType          0
PostalCode            0
LoanSeqNum            0
LoanPurpose           0
OrigLoanTerm          0
NumBorrowers          0
SellerName            0
ServicerName          0
EverDelinquent        0
MonthsDelinquent      0
MonthsInRepayment     0
dtype: int64

In [56]:
duplicates

0

In [58]:
data_types = dataframe.dtypes

In [60]:
dataframe['FirstPaymentDate'] = pd.to_datetime(dataframe['FirstPaymentDate'], format='%Y%m')
dataframe['MaturityDate'] = pd.to_datetime(dataframe['MaturityDate'], format='%Y%m')

In [62]:
numeric_columns = ['CreditScore', 'MIP', 'OCLTV', 'DTI', 'Units']
dataframe[numeric_columns] = dataframe[numeric_columns].apply(pd.to_numeric, errors='coerce')

In [64]:
dataframe_cleaned_drop = dataframe.dropna(subset=numeric_columns)

In [65]:
print("DataFrame with rows containing non-numeric values removed:")
print(dataframe_cleaned_drop.head())

DataFrame with rows containing non-numeric values removed:
   CreditScore FirstPaymentDate FirstTimeHomebuyer MaturityDate    MSA  MIP  \
0            0       1999-02-01                  N   2029-01-01  16974   25
1            0       1999-02-01                  N   2029-01-01  19740    0
2            0       1999-02-01                  N   2029-01-01  29940    0
3            0       1999-02-01                  N   2029-01-01  31084    0
4            0       1999-02-01                  N   2029-01-01  35644    0

   Units Occupancy  OCLTV  DTI  ...  PostalCode    LoanSeqNum  LoanPurpose  \
0      1         O     89   27  ...       60400  F199Q1268030            P
1      1         O     73   17  ...       80200  F199Q1015092            N
2      1         O     75   16  ...       66000  F199Q1266886            N
3      1         O     76   14  ...       90700  F199Q1178167            N
4      1         O     78   18  ...        7600  F199Q1178517            N

  OrigLoanTerm NumBorrowers SellerName          ServicerName EverDelinquent  \
0          360            2         FL  WASHINGTONMUTUALBANK              0
1          360            1         FT  CHASEHOMEFINANCELLC               0
2          360            2         FL  WASHINGTONMUTUALBANK              0
3          360            2         GM  GMACMTGECORP                      0
4          360            2         GM  GMACMTGECORP                      0

  MonthsDelinquent MonthsInRepayment
0                0                52
1                0               144
2                0                67
3                0                35
4                0                54

[5 rows x 28 columns]

In [66]:
categorical_columns = ['FirstTimeHomebuyer', 'Occupancy', 'LoanPurpose']
dataframe = pd.get_dummies(dataframe, columns=categorical_columns, drop_first=True)

In [67]:
dataframe = dataframe.set_index('LoanSeqNum')

In [68]:
dataframe.head(10)

,CreditScore,FirstPaymentDate,MaturityDate,MSA,MIP,Units,OCLTV,DTI,OrigUPB,LTV,...,ServicerName,EverDelinquent,MonthsDelinquent,MonthsInRepayment,FirstTimeHomebuyer_X,FirstTimeHomebuyer_Y,Occupancy_O,Occupancy_S,LoanPurpose_N,LoanPurpose_P
LoanSeqNum,,,,,,,,,,,,,,,,,,,,,
F199Q1268030,0,1999-02-01,2029-01-01,16974,25,1,89,27,117000,89,...,WASHINGTONMUTUALBANK,0,0,52,False,False,True,False,False,True
F199Q1015092,0,1999-02-01,2029-01-01,19740,0,1,73,17,109000,73,...,CHASEHOMEFINANCELLC,0,0,144,False,False,True,False,True,False
F199Q1266886,0,1999-02-01,2029-01-01,29940,0,1,75,16,88000,75,...,WASHINGTONMUTUALBANK,0,0,67,False,False,True,False,True,False
F199Q1178167,0,1999-02-01,2029-01-01,31084,0,1,76,14,160000,76,...,GMACMTGECORP,0,0,35,False,False,True,False,True,False
F199Q1178517,0,1999-02-01,2029-01-01,35644,0,1,78,18,109000,78,...,GMACMTGECORP,0,0,54,False,False,True,False,True,False
F199Q1224802,0,1999-02-01,2029-01-01,X,25,1,89,40,207000,89,...,Other servicers,0,0,42,False,False,True,False,True,False
F199Q1291436,0,1999-02-01,2029-01-01,X,25,1,90,21,111000,90,...,Other servicers,0,0,44,False,False,True,False,False,True
F199Q1001824,0,1999-02-01,2029-01-01,36740,0,1,72,20,97000,72,...,WELLSFARGOBANKNA,1,3,145,True,False,True,False,True,False
F199Q1079744,0,1999-02-01,2027-10-01,25540,30,1,95,38,55000,95,...,Other servicers,0,0,64,False,True,True,False,False,True
F199Q1196318,0,1999-02-01,2029-01-01,48620,30,1,95,27,35000,95,...,WELLSFARGOBANKNA,1,104,212,False,True,True,False,False,True

In [69]:
column_headers = dataframe.columns

In [70]:
print("Column headers:")
print(column_headers)

Column headers:
Index(['CreditScore', 'FirstPaymentDate', 'MaturityDate', 'MSA', 'MIP',
       'Units', 'OCLTV', 'DTI', 'OrigUPB', 'LTV', 'OrigInterestRate',
       'Channel', 'PPM', 'ProductType', 'PropertyState', 'PropertyType',
       'PostalCode', 'OrigLoanTerm', 'NumBorrowers', 'SellerName',
       'ServicerName', 'EverDelinquent', 'MonthsDelinquent',
       'MonthsInRepayment', 'FirstTimeHomebuyer_X', 'FirstTimeHomebuyer_Y',
       'Occupancy_O', 'Occupancy_S', 'LoanPurpose_N', 'LoanPurpose_P'],
      dtype='object')

In [71]:
column_headers_list = list(column_headers)

In [72]:
print("\nColumn headers as a list:")
print(column_headers_list)

Column headers as a list:
['CreditScore', 'FirstPaymentDate', 'MaturityDate', 'MSA', 'MIP', 'Units', 'OCLTV', 'DTI', 'OrigUPB', 'LTV', 'OrigInterestRate', 'Channel', 'PPM', 'ProductType', 'PropertyState', 'PropertyType', 'PostalCode', 'OrigLoanTerm', 'NumBorrowers', 'SellerName', 'ServicerName', 'EverDelinquent', 'MonthsDelinquent', 'MonthsInRepayment', 'FirstTimeHomebuyer_X', 'FirstTimeHomebuyer_Y', 'Occupancy_O', 'Occupancy_S', 'LoanPurpose_N', 'LoanPurpose_P']

In [73]:
cleaned_file_path = 'LoanExport.csv'

In [76]:
dataframe.to_csv(cleaned_file_path, index=False)
print(f"Cleaned data saved to {cleaned_file_path}")

Cleaned data saved to LoanExport.csv